version: "3"
services:
  mongo:
    image: "mongo:latest"
    hostname: mongo
    container_name: mongo
    entrypoint: ["/usr/bin/mongod","--bind_ip_all"]
  atlant_server_1:
    image: "golang:latest"
    hostname: atlant_server_1
    container_name: atlant_server_1
    volumes:
      - ./server/server:/code/server
      - ./client/client:/code/client
    entrypoint: ["/code/server","--host=0.0.0.0"]
  atlant_server_2:
    image: "golang:latest"
    hostname: atlant_server_2
    container_name: atlant_server_2
    volumes:
      - ./server/server:/code/server
      - ./client/client:/code/client
      - ./ssl:/etc/haproxy/ssl
    entrypoint: ["/code/server","--host=0.0.0.0"]
  haproxy:
    image: "haproxy:latest"
    ports:
      - 55555:55555
    volumes:
      - ./config/haproxy.cfg:/usr/local/etc/haproxy/haproxy.cfg

